<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0jBIaPbAtHKuu3CaUsHrC70RBOtXdK7A</string>
	<key>GCM_SENDER_ID</key>
	<string>913005511206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aidoSensorApp</string>
	<key>PROJECT_ID</key>
	<string>aido-c0e64</string>
	<key>STORAGE_BUCKET</key>
	<string>aido-c0e64.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913005511206:ios:f9f50a7281d2b09129dce7</string>
	<key>DATABASE_URL</key>
	<string>https://aido-c0e64-default-rtdb.firebaseio.com</string>
</dict>
</plist>